<!DOCTYPE html>
<html>
<head>
<script>
var data={{dat}};
var x="";
for (i in data) {
console.log(data[i]);
  x += "lat "+data[i][4]+" long "+ data[i][5]+"<br>";
}
document.getElementById("demo").innerHTML = x;
</script>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<div id="demo"></div>

</body>
</html>
